# NXP K32 family
#
# Copyright (c) 2021, Vincent van der Locht
# Copyright (c) 2022, Hessel van der Molen, sendrato.com
#
# SPDX-License-Identifier: Apache-2.0
#

source "soc/arm/nxp_k32/*/Kconfig.defconfig.series"

config I2C_MCUX_FLEXCOMM
	default y if HAS_MCUX_FLEXCOMM
	depends on I2C

config SPI_MCUX_FLEXCOMM
	default y if HAS_MCUX_FLEXCOMM
	depends on SPI

config CLOCK_CONTROL_MCUX_SYSCON
	default y if HAS_MCUX_SYSCON
	depends on CLOCK_CONTROL

config MCUX_MIDDLEWARE_MEMMANAGER_HEAP_SIZE
    int "MemManager Heap-size"
    default 1024
    help
        Maximum number of bytes available for MemManager in the mcux middleware.

config HAS_PM
    bool "Supports Power-Management"
    default y
    help
        Has working PM support.