# Copyright (c) 2017, NXP
# Copyright (c) 2021, Vincent van der Locht
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_K32
	bool
	select HAS_SEGGER_RTT

if SOC_FAMILY_K32

config SOC_FAMILY
	string
	default "nxp_k32"

source "soc/arm/nxp_k32/*/Kconfig.soc"

config SOC_PART_NUMBER
	default SOC_PART_NUMBER_K32W061HN if SOC_SERIES_K32

endif # SOC_FAMILY_K32
